@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'JetBrains Mono', monospace;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
:root {
	--text-color: #252422;
	--bg-color: #fffcf2;
	--active-color: #eb5e28;
}
body {
	background-color: var(--bg-color);
	font-size: 150%;
}
a {
	color: var(--text-color);
	transition: color .3s ease;
}
a:hover {
	color: var(--active-color);
}

ul {
	padding: 0;
	margin: 0;
	position: relative;
}
li {
	border-left: 2px solid var(--text-color);
	margin-left: 1em;
}
li div {
	padding-left: 1em;
	position: relative;
}
li div::before {
	content:'';
	position: absolute;
	top: 0;
	left: -2px;
	bottom: 50%;
	width: 0.75em;
	border: 2px solid var(--text-color);
	border-top: 0 none transparent;
	border-right: 0 none transparent;
}
ul > li:last-child {
	border-left: 2px solid transparent;
}

